.btn-login {
    background-color: var(--laranja1);
    border: none;
}

.btn-login:hover {
    background-color: var(--amarelo1);
}

/* Outros estilos para botões */
.btn-primary {
    background-color: var(--laranja1);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: var(--amarelo1);
}

.arrow-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.arrow-up img {
    width: 50px; /* Aumenta só a seta UP */
    height: auto;
    transition: transform 0.2s ease-in-out;
}
