.btn-login {
    background-color: var(--laranja1);
    border: none;
}

.btn-login:hover {
    background-color: var(--amarelo1);
}

/* Outros estilos para botões */
.btn-primary {
    background-color: var(--laranja1);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: var(--amarelo1);
}

.arrow-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.arrow-up img {
    width: 50px; /* Aumenta só a seta UP */
    height: auto;
    transition: transform 0.2s ease-in-out;
}


.rating {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.star {
    color: #E87B38; /* Laranja */
    transition: color 0.3s;
}

.star:hover,
.star.active {
    color: #FFA500; /* Destaque ao passar o mouse */
}

.rating-value {
    font-size: 1rem;
    color: #777;
    margin-left: 8px;
}

.search-icon {
    fill: black;
}

